@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body,h1,h2,h3,h4,p,ol,ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Poppins',sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

body{
    background-color: #2d2e30;
    background-image: linear-gradient(315deg,#17191b 0%,#000000 74%);

}

#main{
    position: relative;
    padding: 0;
}

#main::before{
    content: "";
    position: absolute;
    top: 0;
    right: -20%;
    width: 70%;
    height: 100vh;
    background-color: #2e0cf1;
    background-image: linear-gradient(315deg, deepskyblue 0%, rgb(4, 176, 233) 74%);
    overflow: hidden;
    transform: skewX(-15deg);
    transform-origin: 0 0;
    z-index: 1;
}
.header{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 999;
    width: 100%;
}

.logo{
    position: absolute;
    left: 10%;
    width: 80px;
    height: 90px;
    color: white;
}

.nav{
    float: right;
}

.nav ul{
    margin: 0;
    padding: 0;
    float: left;
}

.nav ul li{
    list-style: none;
    float: left;
    margin-left: 30px;
}

.nav ul li a{
    transition:all 0.5s ease-in-out;
    font-size: 17px;
    color: white;
    text-transform:capitalize;
}

.nav ul li a:hover{
    color: yellow;
    font-size: 20px;
    border-bottom: 2px solid;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media  screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: -170px;
        height: 92vh;
        top: 4vh;
        font-size: 21px;
        background:transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

}
.nav-active{
    transform: translatex(-10%);
    display: flex;
    padding:0;
}

@keyframes navLinkFade{
    form{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.contents{
    position: relative;
    z-index: 2;
    background-size: auto 90%;
    height: 90vh;
}
.hat-logo{
    background: url(assets/logo.png) center bottom no-repeat;
    background-size: auto 90%;
    z-index: 2;
    height: 80vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content1{
    font-size: 60px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 19%;
}

.content1 span{
    opacity: 0.2;
    font-size: 260px;
    position: absolute;
    top: -130%;
    left: -65%;
    font-family: Tahoma;
}
.content2{
    opacity: 0.8;
    font-size: 30px;
    line-height: 1;
    color: white;
    font-weight: bold;
    position: absolute;
    top:80%;
    right: 8%;
    font-family:  Tahoma;
}

@media  screen and (max-width:768px){
    .content1{
        font-size: 30px;
        top: 20%;
        left: 18%;
    }

    .content1 span{
        font-size: 130px;
        top: -130%;
        left: -65%;
    }

    .content2{
        font-size: 20px;
        top: 80%;
        right: 17%;
    }
}

.link1,.link2{
    display: block;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 65px;
    color: white;
    letter-spacing: 0.1em;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    cursor: pointer;
    z-index: 2;
    font-size: 18px;
    font-weight: 400;
}
.link2{
    color: white;
    left: 100% !important;
    margin-left: -65px;
    transform: translate(-50%,-50%) rotate(-90deg);
}

.link3{
    display: block;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 350px;
    color: white;
    letter-spacing: 0.1em;
    cursor: pointer;
    z-index: 2;
    font-size: 18px;
    font-weight: 400;
    padding-left: 18px;
}

.link1:before,.link2::before{
    background: #ee4266;
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: -15px;
    left: 50%;
    margin: 0 0 0 -3px;
}

.link2:before{
    background: yellow;
}

.link1:after,.link2::after{
    content: "";
    position: absolute;
    transition: all 0.3s ease;
    background: linear-gradient(to bottom,rgba(238,66,102,0) 0%,rgba(238,66,102,1) 100%);
    width: 1px;
    height: 85px;
    left: 50%;
    bottom: 100%;
    margin-bottom: 13px;
    margin-left: -1px;
}
.link2:after{
    background: linear-gradient(to bottom,rgba(248,179,52,0) 0%,rgba(248,179,52,1) 100%);
}
.link1:hover:after,.link2:hover:after{
    height: 0;
}

.link3:before{
    background: white;
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin: 0 0 0 -3px;
}
.link3:hover:after{
    height: 0;
}
.link3:after{
    content: "";
    position: absolute;
    transition: all 0.3s ease;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    width: 1px;
    height: 85px;
    left: 0;
    bottom: 50%;
    margin-left: -1px;
}
@media  screen and (max-width:768px){
    .contents div a{
        font-size: 12px;
    }
    .contents div p{
        padding-left: 65px;
    }
    .hat-logo{
        background-size: auto 60%;
        top: 40%;
    }
    .link1{
        left:50px;
    }
    .link2{
        margin-left:-20px ;
    }
    .link3{
        top: 74%;
        left: 180px;
    }
    #main::before{
        right: 0;
    }
}
#part1{
    position: relative;
    padding: 0;
    margin-top: 100px;
    background: linear-gradient(315deg,	#1309d6 0%,#030303 74%);
}
#part1 .inv{
    color: rgb(252, 252, 252);
    font-size: 27px;
    position: relative;
    left: 45%;
    font-family: Arial, Helvetica, sans-serif;
}
@media  screen and (max-width:768px){
    #part1 .inv{
        left: 29%;
    }
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background: linear-gradient(315deg, #182424 0%,#059999 74%);
    z-index: 11;
}
.timeline{
    width:80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.timeline ul{
    list-style: none;
}
.timeline ul li{
    padding: 20px;
    background-color: rgba(202, 177, 177, 0.6); /*  ///////// */
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
}

.timeline ul li:hover{
    box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.788);
}

.timeline ul li:last-child{
    margin-bottom: 0;
}
.timeline-content h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;

}
.timeline-content p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

}
.timeline-content .author{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.abc{
    color: white;
}
.abc:hover,.abcl:hover{
    text-decoration: underline rgb(252, 114, 2);
}

@media only screen and (min-width:768px){
    .timeline::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(243, 8, 27);
    }
    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px ;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px ;

    }
    .timeline ul li::after{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: orange;
        border-radius: 50%;
        top: 0;
    }
    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%,-50%);
        right: -30px;
    }
    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%,-50%);
        left: -30px;
    }
    .timeline ul li:hover:after{
        background-color: aqua;
    }
    .timeline-content .author{
        position: absolute;
        top: -30px;

    }
}
.readmore{
    color: rgb(253, 251, 251);
    font-size: 27px;
    position: relative;
    text-align: center;
    padding: 0;
    background:rgb(5, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
}
.readmore:hover{
    color: blue;
}

/* footer */
.footer-container{
    max-width: 1170px;
    margin:auto;
}
.footimg{
    width: 100px;
}
.contentfoot{
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: relative;
}
.contentfoot span{
    opacity: 0.2;
    font-size: 26px;
    position: relative;
    top: -10%;
    font-family: Tahoma;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none; 
}
.footer{
    background: rgba(62, 138, 173, 0.3);
    padding: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.locate{
    color:#bbbbbb;
}
.copyrights{
    display: block;
    font-size: 25px;
    color: #bbbbbb;
    text-align: center;
}

@media(max-width: 767px){
  .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align:center ;
    }
    .copyrights{
        padding-left: 8px;
    }
}
@media(max-width: 574px){
  .footer-col{
        width: 100%;
    }
}
