@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    position: absolute;
    top: 27px;;
    right: 25px;
    z-index: 999;
    width: 100%;
    
}
.nav{
    float: right;
    margin-right: 10px;
}

.nav ul{
    margin: 0;
    padding: 0;
    float: left;
}

.nav ul li{
    list-style: none;
    float: left;
    margin-left: 25px;
}
.nav ul li a{
    transition:all 0.5s ease-in-out;
    font-size: 17px;
    color: white;
    text-transform:capitalize;
    font-weight: normal;
    font-family: 'Poppins',sans-serif;
}

.nav ul li a:hover{
    color: yellow;
    font-size: 20px;
    border-bottom: 2px solid;
    text-decoration: none;
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media  screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: -171px;
        height: 92vh;
        top: 4vh;
        font-size: 30px;
        background:transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

}
.nav-active{
    transform: translatex(-10%);
    display: flex;
    padding:0;
}

@keyframes navLinkFade{
    form{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.overview{
    display:block ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(315deg, rgba(175, 25, 25, 0.25), rgba(252, 245, 245, 0.879));
}
.box1{
    border-top: 210px rgba(148, 27, 27, 0.171) solid;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background: #333333;
}
.overview .box1 h2{
    display: flex;
    font-size: 55px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}
.overview .box1 p{
    display: flex;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 18px;
    color: white;
    text-align: center;
    line-height: 30px;
}
.overview a{
    text-decoration: none;
}
.overview a:hover{
    text-decoration: underline;
}
.overview span a{
    display: flex;
    font-size: 55px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: black;
    transition: 0.5s;
}
.overview a:hover{
    color: magenta;
    transform: rotateY(360deg);
}
.box1::after{
    content: "";
    display: block;
    border:20px solid orange;
}
.box1::before{
    content: "";
    display: block;
    border: 20px solid orange;
}
/* About Us */

/* cards */
#teams{
    display:block ;
    padding-top: 40px;
    background-color:rgb(124, 124, 230) ;
}
.container{
    position: relative;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 100px;
    border-radius: 0px;
    background: linear-gradient(#501908,#00ffff 30%,#080808 30%,#1d3548);
}
.container .cards{
    position: relative;
    width: 250px;
    height: 320px;
    margin: 10px;
    border-radius: 20px;
}
.container .cards:nth-child(1){
    background: linear-gradient(#07f1dd,#2196f3 69%,#080808 30%,#1d3548);
}
.container .cards:nth-child(2){
    background: linear-gradient(#d8e98c,#d4f321 69%,#080808 30%,#1d3548);
}
.container .cards:nth-child(3){
    background: linear-gradient(#ecb4aa,lightpink 69%,#080808 30%,#1d3548);

}
.container .cards:nth-child(4){
    background: linear-gradient(#ecb4aa,#e64a64 69%,#080808 30%,#1d3548);
}
.container .cards:nth-child(5){
    background: linear-gradient(#07f1dd,#291faf 69%,#080808 30%,#0f4e81);
}
.container .cards:nth-child(6){
    background: linear-gradient(#e0d0c1,#922d50 69%,#080808 30%,#1d3548);
}
.container .cards:nth-child(7){
    background: linear-gradient(#07f1dd,#00ffff 69%,#080808 30%,#1d3548);
}
.container .cards:nth-child(8){
    background: linear-gradient(#07f1dd,#850685 69%,#080808 30%,#1d3548);
}
.container .cards .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 3;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: top;
}
.container .cards:hover .imgBx{
    transform: translateY(30px) scale(0.5);
}
.container .cards .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .cards .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.container .cards:hover .content{
    transform: translateY(0);
    display: flex;
}
.container .cards .content .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
}
.container .cards .content .details h2{
    color: rgb(10, 10, 10);
    font-size: 1.5em;
    font-weight: 500;
}
.container .cards .content .details h2 span{
    font-size: 0.8em;
    font-weight: 400;
    color: #03a9f4;
}
.social_icons_1,.social_icons_2,.social_icons_3 ,.social_icons_4 ,.social_icons_5 ,.social_icons_6 ,.social_icons_7,.social_icons_8 {
    position: relative;
    display: flex;
    margin-top: 5px;
}
.social_icons_1 li,.social_icons_2 li,.social_icons_3 li,.social_icons_4 li,.social_icons_5 li,.social_icons_6 li,.social_icons_7 li,.social_icons_8 li{
    list-style: none;
    margin: 4px;
}
.social_icons_1 li a,.social_icons_2 li a,.social_icons_3 li a,.social_icons_4 li a,.social_icons_5 li a,.social_icons_6 li a,.social_icons_7 li a,.social_icons_8 li a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #294d69;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.social_icons_1 li a:hover{
    transform: rotate(360deg);
    background: #2196f3;
}
.social_icons_2 li a:hover{
    transform: rotate(360deg);
    background: #d4f321;
}
.social_icons_3 li a:hover{
    transform: rotate(360deg);
    background: lightpink;
}
.social_icons_4 li a:hover{
    transform: rotate(360deg);
    background: #e64a64;
}
.social_icons_5 li a:hover{
    transform: rotate(360deg);
    background: #0509e7;
}
.social_icons_6 li a:hover{
    transform: rotate(360deg);
    background: #922d50;
}
.social_icons_7 li a:hover{
    transform: rotate(360deg);
    background: #00ffff;
}
.social_icons_8 li a:hover{
    transform: rotate(360deg);
    background: #850685;
}
.cont{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-container{
    max-width: 1170px;
    margin:auto;
}
.footimg{
    width: 100px;
}
.contentfoot{
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: relative;
}
.contentfoot span{
    opacity: 0.2;
    font-size: 26px;
    position: relative;
    top: -10%;
    font-family: Tahoma;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none; 
}
.footer{
    background: rgb(34, 69, 85);
    padding: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.locate{
    color:#bbbbbb;
}
.copyrights{
    display: block;
    font-size: 25px;
    color: #bbbbbb;
    text-align: center;
}

@media(max-width: 767px){
  .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align:center ;
    }
    .copyrights{
        padding-left: 8px;
    }
}
@media(max-width: 574px){
  .footer-col{
        width: 100%;
    }
}
