*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(deepskyblue,red);  
}
.container{
    width: 80%;
    padding: 20px;
}
.container h2{
    width: 100%;
    color: #45f3ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.container .row{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}
.container .row .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.container .row .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.container .row .inputBox input,
.container .row .inputBox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.container .row .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row .inputBox input:focus + .text,
.container .row .inputBox input:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row .inputBox input:focus~ .line,
.container .row .inputBox input:valid~ .line{
    height: 100%;
}
.container .row .inputBox .textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0; 
}
.container .row .inputBox .textarea textarea{
    height: 100%;
    resize: none;
}
.container .row .inputBox textarea:focus + .text,
.container .row .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row .inputBox textarea:focus~ .line,
.container .row .inputBox textarea:valid~ .line{
    height: 100%;
}
input[type="submit"]{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #45f3ff;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
}