*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "poppins",Arial, Helvetica, sans-serif;
}

.background{
    height: 100vh;
    width: 100%;
    /* background: url(../images/undraw_publish_post_vowb.svg) no-repeat left; */
    background-color: rgb(255, 255, 255);
    background-size: 20%;
}

.form{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    height: 80%;
}

.heading h1{
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

form{
    width: 100%;
}

.container{
    padding: 2rem;
    text-align: center;
    background-color: azure;
    font-size: 1.3rem;
    border-radius: 20px;
}

.title h1{
    font-weight: 400;
    margin-bottom: 2rem;
}

.title i{
    color: rgb(0, 94, 170);
    margin: 0.5rem;
    transform: scale(0.9);
}

.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
}
.name .first-name ,.name .last-name{
    align-items: center;
    justify-content: center;
}

input,textarea {
    padding: 0.5rem 0;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    font-size: 1.3rem;
}

input:focus,textarea:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.356);
    color: rgb(0, 132, 255);
}

label{
    font-size: 1.4rem;
    font-weight: 400;
    
}

textarea{
    resize: vertical;
}

.collage{
    display: flex;
    flex-direction: column;
}

.collage-branch{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.graduation{
    width: 50%;
    justify-self: center;
    align-self: center;
}

.personal-details{
    background-color: rgb(0, 174, 255);
    color: white;
}

.other-details,.company{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.company{
    margin-top: 3rem;
}


.other-details{
    margin-bottom: 1rem;
}

.name-of-company,.years-of-experiance,.linkedin,.role{
    flex: 0 0 40%;
}

.professional-details .title i{
    margin: 1.3rem;
    transform: scale(1);
    color: rgb(0, 255, 13);
}

.professional-details{
    background-color: rgb(0, 170, 133);
    color: white;
    height: 460px;
}


.interview-details .title i{
    margin: 1.3rem;
    transform: scale(1);
    color: rgb(255, 102, 0);
}

.interview-details{
    background-color: rgb(255, 174, 0);
    color: white;
}

.interview-company{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.interview-role,.company-name{
    flex:0 0 40%;
}