*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
}
body{
    width: 100%;
    background: #0e0e0e;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
h1{
    color: #fff;
    font-size: 48px;
}
p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
/* navbar */
nav{
    height: 70px;
    line-height: 70px;
}
nav a img{
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
nav a:nth-child(2){
    float: right;
}
/* header */
header{
    margin: 100px 0px 200px 120px;
}
header p{
    width: 60%;
    margin-top: 10px;
}
/* work */
.work{
    text-align: center;
    width: 100%;
}
.work img{
    margin: 1%;
    width: 45%;
}
footer p{
    text-align: center;
    color: grey;
    margin: 60px auto;
}
@media only screen and (max-width: 991px){
    header{
        text-align: left;
        margin: 100px 0 100px 30px;
    }
    header h1{
        font-size: 36px;
    }
    header p{
        font-size: 12px;
        width: 90%;
    }
    .work img{
        margin: 2%;
        width: 90%;
    }
}
.footer-container{
    max-width: 1170px;
    margin:auto;
}
.footimg{
    width: 100px;
}
.contentfoot{
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: relative;
}

.contentfoot span{
    opacity: 0.2;
    font-size: 26px;
    position: relative;
    top: -10%;
    font-family: Tahoma;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none; 
}
.footer{
    background-color: #24262b;
    padding: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.locate{
    color:#bbbbbb;
    font-size: 16px;
}
.copyrights{
    display: block;
    font-size: 25px;
    color: #bbbbbb;
    text-align: center;
}  


@media(max-width: 767px){
  .footer-col{

    width: 50%;
    margin-bottom: 30px;
    text-align:center ;
}
}
@media(max-width: 574px){
  .footer-col{

    width: 100%;
}
}